nav {
  margin-top: 0.5em;

  .nav-item {
    padding: 5px;

    .col {
      height: 2.5em;
      padding: 0;
      text-align: center;
      border: 1px solid $color-secondary-light;
      transition: all 0.1s ease-in-out;

      a {
        line-height: 2.5em;
        color: $color-secondary-light;
        text-decoration: none;
        transition: all 0.1s ease-in-out;

        &[aria-current] {
          text-decoration: line-through;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $color-secondary-light;

        a {
          color: $color-background-light;
        }
      }
    }
  }
}