/* Colours */

$color-primary-light: #494c50;
$color-secondary-light: #bd2716;
$color-background-light: #f4f4f4;

/* Fonts */

$font-sans-serif: "Source Sans Pro", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* Breakpoints */

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
