node_modules
.cache
functions/_assets
functions/\[\[path\]\].js
functions/\[\[path\]\].js.map
public/build
app/styles
.env
.mf

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions