node_modules
.cache
functions/_assets
functions/\[\[path\]\].js
functions/\[\[path\]\].js.map
functions/metafile.js.json
functions/metafile.server.json
functions/version.txt
public/build
.env
.dev.*
.wrangler/
.react-router/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions