node_modules
.cache
functions/_assets
functions/\[\[path\]\].js
functions/\[\[path\]\].js.map
functions/metafile.js.json
functions/metafile.server.json
functions/version.txt
public/build
app/styles
.env
.dev.*
.wrangler

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions