header > nav {
  margin-top: $font-size-base;

  .nav-item {
    text-align: center;

    &.dropdown {
      .dropdown-menu {
        border: 0;
        border-radius: 0;
        padding: 0 0.5rem 0.5rem 0.5rem;
        background: $color-background-light;

        a {
          text-align: center;
          margin-top: 0.5rem;
        }
      }
    }
    a,
    .dropdown-toggle {
      display: block;
      line-height: $font-size-base * 2.5;
      border: 1px solid $color-secondary-light;
      transition: $transition-base;
      color: $color-secondary-light;
      background: $color-background-light;

      &[aria-current],
      &:hover,
      &.active-children {
        cursor: pointer;
        background-color: $color-secondary-light;
        color: $color-background-light;
        text-decoration: none;
      }
    }
    @include media-breakpoint-down(sm) {
      .sub-nav {
        opacity: 1;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  header > nav {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    margin: 0 !important;
    padding: 6.5rem 1rem 50rem 1rem;
    background: $color-background-light;
    transition: left 0.3s ease-out;

    .nav-item {
      margin-bottom: 1rem;
    }
  }
}
